* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body {
  margin: 5%;
  background-color: #ffffff;
}


.content-section {
  max-width: 100%;
  margin: 10%;
}

/* .user-section{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;

} */

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.page-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10em;


}








/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.analysis-wrapper{
  width: 70%;
  height: 70%;
}

.inputBox input{
  width: 100%;
  padding: 50%;
  border: 1px solid blue;
  outline: none;
}

.inputBox span{
  color: blue;
  transform: translatex(10px) ;
}
 */


